
shadowy/examples/.vs/imgui_examples/v16/.suo
*.db
*.ipch
*.bat
*.bat
shadowy/Main/.vs/example_glfw_opengl3/v16/.suo
*.db-shm
*.db-wal
*.opendb
*.ilk
*.log
*.recipe
*.exe
*.pdb
*.tlog
*.obj
*.idb
*.col
*.col
*.style
*.col
*.builder
shadowy/.vs/imgui_examples/v16/.suo
shadowy/.vs/CodeGui_builder/v16/.suo
*.idb
*.idb
